@media all and (min-width: 500px) {
  .gear_list {
    width: 100%;
  }
}

@media all and (min-width: 700px) {
  .gear_list {
    width: 50%;
  }
}

@media all and (min-width: 800px) {
  .gear_list {
    width: 30%;
    margin-left: 1rem;
  }
}

.item {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.item p {
  width: fit-content;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

.green {
  background-color: rgba(0, 255, 0, 0.4);
}

.item p:hover {
  background-color: rgba(0, 255, 0, 0.6);
}
