.gold {
  color: gold;
}

.shoppes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.purchased_items div {
  display: flex;
  flex-wrap: wrap;
}

.purchased_items h3 {
  width: 100%;
  margin: 0;
}
