.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
}

.App-link {
  color: #61dafb;
}

.App div {
  margin-left: 0.5rem;
}
