.header {
  display: flex;
  justify-content: space-around;
}

h2 {
  margin: 0;
  margin-top: 1rem;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.attribute {
  flex-basis: 33%;
  flex-grow: 1;
  border: 1px solid black;
}

.attribute * {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
